.custom-search {
  position: relative;
  width: 300px;
  height: fit-content;
  /* border: 1px solid orange; */

}

.custom-outer-div {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 10px;
}

.custom-outer-div-bottom {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  height: 10px;
}

.text-area-container {
  /* padding: 4px; */
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.custom-search-input {
  color: #ccc;
  width: 100%;
  border: none;
  font-size: 16px;
  /* border-right: 1px solid #ccc; */
  /* border-left: 1px solid #ccc; */
  /* border-radius: 100px; */
  padding: 10px 70px 0px 20px;
  min-height: 36px;
  max-height: 100px;
  height: fit-content;
  line-height: 1.5;
  box-sizing: border-box;
  outline: none;
  background-color: #2d2d2d;
}

.custom-search-button {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border: 0;
  background: transparent;
  color: rgb(175, 175, 175);
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}
.custom-search-button:hover {
  color: rgb(227, 227, 227);
  cursor: pointer;
}

.comment-create-input {
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: transparent;
  /* border-bottom: 1px solid grey; */
  padding-top: 10px;
}

.post-edit {
  background-color: #3f3f3f;
  height: 50px;
  width: 660px;
}

.post-caption {
  background-color: #2d2d2d;
  /* background-color: #3f3f3f; */
  width: 660px;
}

#edit-post-btn {
  width: '10px'
}
