.comment-section {
  max-height: 25vh;
  max-width: 660px;
  background-color: #3f3f3f;
  overflow-y: scroll;
  margin-left: 20px;
}
.comment {
  height: 10%;
  padding: 2%;
  margin: 2%;
  background-color: #ffff;
  color: black;
}

.comment-button {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin: 10px 0px; */
  border-radius: 11px;
  padding: 5px;
  border: none;
}

.post-caption {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 17px;
  padding-right: 17px;
}

.post-date {
  color: #bbbcdb;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 17px;
}

.create-comment-container:first-child {
  background-color: #3f3f3f;
  width: 660px;
  border-top: 1px solid grey;
}

.create-comment-container{
  background-color: #3f3f3f;
  width: 660px;
  border-top: 1px solid grey;
  /* padding-top: 18px; */
}

.edit-post-button-container {
  background-color: #3f3f3f;
  align-self: center;
  float: "right";
  margin-right: 10px;
  /* position: absolute; */
}

.edit-post-button {
  /* position: absolute; */
  font-size: 22px;
  margin-left: 9px;
  float: "right"
}
