/* TODO Add site wide styles */
  *::-webkit-scrollbar{
    width: 0.8em
  }


  *::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(145, 0, 0, 0)
  }


  *::-webkit-scrollbar-thumb{
    background-color: rgb(52, 43, 75);
    /* outline: 8px solid rgb(0, 91, 183) */
  }

  body {
    background-color: black;
    color: white;
  }
