.comment-container {
  /* max-width: 88%; */
  max-width: 500px;
  /* width: fit-content; */
  padding: 6px;
  border: 2px solid grey;
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: 6px;
  border-radius: 11px;
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
}

.comment-dropdown {
  position: relative;
  /* border: 1px solid green; */
  margin-top: 6px;
}

.comment-content {
  word-wrap: break-word;
}

.comment-and-button-container {
  /*BLUE*/
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  max-width: 100%;
  /* border: 1px solid blue; */
}

.comment-container-container {
  /*ORANGE*/
  position: relative;
  float: left;
  /* display: flex; */
  /* flex-direction: column; */
  width: fit-content;
  max-width: 88%;
  /* border: 1px solid orange; */
}

.comment-menu-button {
  /* float: right; */
  /* height: 10px; */
  width: 50px;
  /* padding: none; */
  /* border: 1px solid green */
}

.inner-comment-dd {
  position: absolute;
  float: right;
  margin-left: 6px ;
  margin-top: 0;
  top: 0;
  right: 5px;
}

.comment-username {
  padding-right: 40px;
  /* margin-bottom: 10px; */
}

.no-comment-message {
  color: white;
  font-size: 30px;
}
