.comment-section {
  max-height: 25vh;
  max-width: 90%;
  background-color: #3f3f3f;
  overflow-y: scroll;
}
.comment {
  height: 10%;
  padding: 2%;
  margin: 2%;
  background-color: #ffff;
  color: black;
}
